body{
    padding: 15px;
}
h1{color: cornflowerblue !important;
font-family: 'Open Sans', Sans}

.my-title{
    color: deeppink;
}

#click-me-button{
    padding: 10px 15px;
    background-color: ;
    border: none;
    font-size: 14px;
}